In [16]:
import mysql.connector
from mysql.connector import errorcode

In [17]:
try:
  cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')
# en caso de que no lo consigas por que hay algún error entonces ...
except mysql.connector.Error as err:

  # si es un error con la contraseña devuelveme un mensaje de acceso denegado ya que tenemos problemas con la contraseña
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  # si el error no tiene que ver con la contraseña, puede ser porque la base de datos no exista, devuelveme un mensaje de que la base de datos no existe
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  # si no es por ninguno de los errores anteriores, printeame cual es el error que estoy teniendo en mi conexión
  else:
    print(err)

In [26]:
mycursor=cnx.cursor()

In [33]:
query_information=("""SELECT COLUMN_NAME 
                        FROM INFORMATION_SCHEMA.COLUMNS 
                        WHERE TABLE_NAME = 'customers' AND table_schema = 'northwind';""")

In [34]:
mycursor.execute(query_information)

In [35]:
mycursor.fetchall()

[('Address',),
 ('City',),
 ('CompanyName',),
 ('ContactName',),
 ('ContactTitle',),
 ('Country',),
 ('CustomerID',),
 ('Fax',),
 ('Phone',),
 ('PostalCode',),
 ('Region',)]

In [36]:
query_city=("""SELECT *
                 FROM customers
                 WHERE city="London" OR city="Seattle";""")

In [37]:
mycursor.execute(query_city)

In [38]:
ciudades=mycursor.fetchall()

In [39]:
ciudades

[('AROUT',
  'Around the Horn',
  'Thomas Hardy',
  'Sales Representative',
  '120 Hanover Sq.',
  'London',
  None,
  'WA1 1DP',
  'UK',
  '(171) 555-7788',
  '(171) 555-6750'),
 ('BSBEV',
  "B's Beverages",
  'Victoria Ashworth',
  'Sales Representative',
  'Fauntleroy Circus',
  'London',
  None,
  'EC2 5NT',
  'UK',
  '(171) 555-1212',
  None),
 ('CONSH',
  'Consolidated Holdings',
  'Elizabeth Brown',
  'Sales Representative',
  'Berkeley Gardens 12  Brewery',
  'London',
  None,
  'WX1 6LT',
  'UK',
  '(171) 555-2282',
  '(171) 555-9199'),
 ('EASTC',
  'Eastern Connection',
  'Ann Devon',
  'Sales Agent',
  '35 King George',
  'London',
  None,
  'WX3 6FW',
  'UK',
  '(171) 555-0297',
  '(171) 555-3373'),
 ('NORTS',
  'North/South',
  'Simon Crowther',
  'Sales Associate',
  'South House 300 Queensbridge',
  'London',
  None,
  'SW7 1RZ',
  'UK',
  '(171) 555-7733',
  '(171) 555-2530'),
 ('SEVES',
  'Seven Seas Imports',
  'Hari Kumar',
  'Sales Manager',
  '90 Wadhurst Rd.',
  'London',
  None,
  'OX15 4NB',
  'UK',
  '(171) 555-1717',
  '(171) 555-5646'),
 ('WHITC',
  'White Clover Markets',
  'Karl Jablonski',
  'Owner',
  '305 - 14th Ave. S. Suite 3B',
  'Seattle',
  'WA',
  '98128',
  'USA',
  '(206) 555-4112',
  '(206) 555-4115')]

In [40]:
import pandas as pd

In [42]:
df = pd.DataFrame(ciudades, columns = ['CostumerID', 'CompanyName', 'ContactName','ContactTitle','Address','City','Region','PostalCode','Country','Phone','Fax'])

In [43]:
df.head()

,CostumerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,None,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
1,BSBEV,B's Beverages,Victoria Ashworth,Sales Representative,Fauntleroy Circus,London,None,EC2 5NT,UK,(171) 555-1212,None
2,CONSH,Consolidated Holdings,Elizabeth Brown,Sales Representative,Berkeley Gardens 12 Brewery,London,None,WX1 6LT,UK,(171) 555-2282,(171) 555-9199
3,EASTC,Eastern Connection,Ann Devon,Sales Agent,35 King George,London,None,WX3 6FW,UK,(171) 555-0297,(171) 555-3373
4,NORTS,North/South,Simon Crowther,Sales Associate,South House 300 Queensbridge,London,None,SW7 1RZ,UK,(171) 555-7733,(171) 555-2530